@media (max-width: 420px) {
    .menu_contact {
        color: #7e7e7e;
        padding: 25px 0 25px 10px;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .menu_contact a {
        color: #7e7e7e;
    }

    .contact {
        padding: 25px;
        text-transform: lowercase;
        font-size: 1.2rem;
    }

    .human_resources {
        margin: 20px 0;
    }

    .store > img {
       width: 300px;
    }


}