@media (max-width: 420px) {
    #login_form {
        color: #7e7e7e;
        width: 300px;
        margin: 50px auto;
    }

    #login_form input {
        background:#ccc;
        border:0 none;
        border-radius: 4px;
        cursor:pointer;
        width: 150px;
        margin-bottom: 25px;
        padding:5px 15px;
    }

    #login_form > div {
        display: flex;
        justify-content: space-between;
    }

    #login_form input[type="checkbox"] {
        width: 20px;
    }

    #login_form input[type="submit"] {
        text-align: center;
        width: 250px;
    }
}