@media (min-width: 1025px ) {

    .full-width-contact {
        height: 1000px;
    }

    .menu_contact {
        color: #7e7e7e;
        padding: 25px;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    .menu_contact a {
        color: #7e7e7e;
    }

    .head_office {
        display: flex;
        justify-content: space-around;
    }

    .contact {
        padding: 25px;
        text-transform: lowercase;
        font-size: .9rem;
    }

    .human_resources {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
    }

    .media_contact {
        display: flex;
        justify-content: space-around;
    }

    .media {
        margin-right: 20px;
    }

}