@media (max-width: 1024px) and (min-width: 420px ) {

    .menu_contact {
        color: #7e7e7e;
        padding: 25px 0px 25px 10px;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 0 auto;
    }

    .menu_contact a {
        color: #7e7e7e;
    }
    /*.head_office {*/
        /*display: flex;*/
        /*justify-content: space-around;*/
    /*}*/

    .contact {
        padding: 25px;
        text-transform: lowercase;
        font-size: 1.2rem;
    }

    .human_resources {
        margin: 20px 0;
    }

    .store > img {
         min-width: 370px;
    }

}