@media (max-width: 1024px) and (min-width: 420px ) {
    .full-width-show {
        background-color: #ebe7df;
    }

    .about_shouse {
        display: flex;
        justify-content: space-around;
        padding-top: 80px;
    }

    .about_shouse > img {
        width: 300px;
        height: 220px;
        float: left;
    }

    /*.in_show {*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: space-between;*/
        /*color: #5f5f5f;*/

    /*}*/

    .green_square_in_show {
        width: 52px;
        height: 10px;
        background-color: #57c5a0;
        padding: 27px 8px;
        color: white;
        font-size: .72rem;
        margin: 10px 10px 10px 0;
    }

    .white_in_show {
        height: 11px;
        padding: 19px 10px 20px 0px;
        width: 100px;
    }

    .size {
        color: #5f5f5f;
        margin-top: 10px;
        padding-top: 10px;
    }

    select {
        color: #5f5f5f;
        width: 50px;
        border-radius: 4px;

    }

    .description {
        font-size: 1rem;
        margin-top: 20px;
        padding: 10px;
        color: #5f5f5f;

    }
}